body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#countryDropdown {
    width: 200px;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #0b1e2d;
    border-radius: 5px;
}

.dropdown-container {
    text-align: center;
}

#pdfLink {
    display: block; /* Ensures the link starts on a new line */
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: #00937E;
    color: #fff;
    font-family: 'bernini-sans-bold', "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 12px;
    text-decoration: none;
}