body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

#container {
    text-align: center;
    margin-top: 50px;
}

#countrySelect {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
}

#pdfPreview {
    width: 80%;
    height: 560px;
    margin: auto;
}
