body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#countryDropdown {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
}

.dropdown-container {
    text-align: center;
}

